In [1]:
import pymongo
from pymongo import MongoClient

In [2]:
client = MongoClient()

In [3]:
client = MongoClient('localhost', 27017)

In [4]:
db = client.indira

In [5]:
students = db.students

In [7]:
students.insert_one(
{"_id":101, "name":"ALice", "age":21, "course":"MScCA"}
)

In [8]:
students.insert_many(
[
    {"_id":102, "name":"Bob", "age":22, "course":"MScCA"},
    {"_id":103, "name":"Charles", "age":20, "course":"MScCA"},
    {"_id":104, "name":"David", "age":20, "course":"MScCA"}
]
)

In [16]:
students.insert(
[
    {"_id":105, "name":"Eugene", "age":24, "course":"MScBD"},
    {"_id":106, "name":"Ferris", "age":25, "course":"MScBD"}
]
)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  after removing the cwd from sys.path.

[105, 106]

In [17]:
students.find_one({"_id":103})

{'_id': 103, 'name': 'Charles', 'age': 20, 'course': 'MScCA'}

In [18]:
students.find({"age":20})

In [19]:
for doc in students.find({"age":20}):
    print(doc)

{'_id': 103, 'name': 'Charles', 'age': 20, 'course': 'MScCA'}
{'_id': 104, 'name': 'David', 'age': 20, 'course': 'MScCA'}

In [20]:
for doc in students.find({}):
    print(doc)

{'_id': 101, 'name': 'ALice', 'age': 21, 'course': 'MScCA'}
{'_id': 102, 'name': 'Bob', 'age': 22, 'course': 'MScCA'}
{'_id': 103, 'name': 'Charles', 'age': 20, 'course': 'MScCA'}
{'_id': 104, 'name': 'David', 'age': 20, 'course': 'MScCA'}
{'_id': 105, 'name': 'Eugene', 'age': 24, 'course': 'MScBD'}
{'_id': 106, 'name': 'Ferris', 'age': 25, 'course': 'MScBD'}

In [21]:
students.update_one(
    {"_id":102}, {"$set":{"name":"Barbara"}}
)

In [22]:
students.find_one({"_id":102})

{'_id': 102, 'name': 'Barbara', 'age': 22, 'course': 'MScCA'}

In [23]:
students.update_many(
    {"age":20}, {"$set":{"course":"MScBD"}}
)

In [24]:
for doc in students.find({}):
    print(doc)

{'_id': 101, 'name': 'ALice', 'age': 21, 'course': 'MScCA'}
{'_id': 102, 'name': 'Barbara', 'age': 22, 'course': 'MScCA'}
{'_id': 103, 'name': 'Charles', 'age': 20, 'course': 'MScBD'}
{'_id': 104, 'name': 'David', 'age': 20, 'course': 'MScBD'}
{'_id': 105, 'name': 'Eugene', 'age': 24, 'course': 'MScBD'}
{'_id': 106, 'name': 'Ferris', 'age': 25, 'course': 'MScBD'}

In [25]:
students.update(
    {"_id":106}, {"$set":{"name":"Frank"}}
)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.

{'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}

In [26]:
students.find_one({"_id":106})

{'_id': 106, 'name': 'Frank', 'age': 25, 'course': 'MScBD'}

In [32]:
students.replace_one(
    {"_id":101}, {"name":"Amit"}
)

In [33]:
for doc in students.find({}):
    print(doc)

{'_id': 101, 'name': 'Amit'}
{'_id': 102, 'name': 'Barbara', 'age': 22, 'course': 'MScCA'}
{'_id': 103, 'name': 'Charles', 'age': 20, 'course': 'MScBD'}
{'_id': 104, 'name': 'David', 'age': 20, 'course': 'MScBD'}
{'_id': 105, 'name': 'Eugene', 'age': 24, 'course': 'MScBD'}
{'_id': 106, 'name': 'Frank', 'age': 25, 'course': 'MScBD'}

In [34]:
students.delete_one(
    {"_id":101}
)

In [35]:
for doc in students.find({}):
    print(doc)

{'_id': 102, 'name': 'Barbara', 'age': 22, 'course': 'MScCA'}
{'_id': 103, 'name': 'Charles', 'age': 20, 'course': 'MScBD'}
{'_id': 104, 'name': 'David', 'age': 20, 'course': 'MScBD'}
{'_id': 105, 'name': 'Eugene', 'age': 24, 'course': 'MScBD'}
{'_id': 106, 'name': 'Frank', 'age': 25, 'course': 'MScBD'}

In [36]:
students.delete_many(
    {"age":20}
)

In [37]:
for doc in students.find({}):
    print(doc)

{'_id': 102, 'name': 'Barbara', 'age': 22, 'course': 'MScCA'}
{'_id': 105, 'name': 'Eugene', 'age': 24, 'course': 'MScBD'}
{'_id': 106, 'name': 'Frank', 'age': 25, 'course': 'MScBD'}

In [39]:
for doc in students.find({"age":{"$gt":23}}):
    print(doc)

{'_id': 105, 'name': 'Eugene', 'age': 24, 'course': 'MScBD'}
{'_id': 106, 'name': 'Frank', 'age': 25, 'course': 'MScBD'}

In [41]:
students.find({}).count()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """Entry point for launching an IPython kernel.

3