In [11]:
import pandas as pd

A = {'a': [1,5,8,7], 'b':[5,2,7,6]}

pd.DataFrame(A)

   a  b
0  1  5
1  5  2
2  8  7
3  7  6

In [13]:
B = {'c': [3,4,5,8], 'd': [5,2,7,6]}
pd.DataFrame(B)

   c  d
0  3  5
1  4  2
2  5  7
3  8  6

In [16]:
pd.DataFrame('A':A, 'B':B)

SyntaxError: invalid syntax (<ipython-input-16-c1a3f80c9b4a>, line 1)